/* This is a CSS file */

[type="range"] {
        margin-left: 10%;
        margin-top:47%;
        width:299px;
        -webkit-transform:rotate(90deg);
           -moz-transform:rotate(90deg);
             -o-transform:rotate(90deg);
                transform:rotate(90deg);
    }